<a href="https://colab.research.google.com/github/devu-13here/ML_assignmentt/blob/main/Assignment_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

# Assuming 'filename.csv' is the name of your file
df = pd.read_csv('AWCustomers.csv')
print(df.head())  # To display the first few rows

   CustomerID Title FirstName MiddleName  LastName Suffix  \
0       21173   NaN      Chad          C      Yuan    NaN
1       13249   NaN      Ryan        NaN     Perry    NaN
2       29350   NaN     Julia        NaN  Thompson    NaN
3       13503   NaN  Theodore        NaN     Gomez    NaN
4       22803   NaN  Marshall          J      Shan    NaN

             AddressLine1 AddressLine2         City    StateProvinceName  ...  \
0      7090 C. Mount Hood          NaN   Wollongong      New South Wales  ...
1     3651 Willow Lake Rd          NaN      Shawnee     British Columbia  ...
2  1774 Tice Valley Blvd.          NaN  West Covina           California  ...
3         2103 Baldwin Dr          NaN    Liverpool              England  ...
4         Am Gallberg 234          NaN        Werne  Nordrhein-Westfalen  ...

         Education      Occupation Gender MaritalStatus HomeOwnerFlag  \
0        Bachelors        Clerical      M             M             1
1  Partial College        Clerical      M             M             1
2        Bachelors        Clerical      F             S             0
3  Partial College  Skilled Manual      M             M             1
4  Partial College  Skilled Manual      M             S             1

  NumberCarsOwned NumberChildrenAtHome TotalChildren  YearlyIncome  \
0               3                    0             1         81916
1               2                    1             2         81076
2               3                    0             0         86387
3               2                    1             2         61481
4               1                    0             0         51804

   LastUpdated
0   2017-03-06
1   2017-03-06
2   2017-03-06
3   2017-03-06
4   2017-03-06

[5 rows x 24 columns]

In [ ]:
print(df.head())

   CustomerID Title FirstName MiddleName  LastName Suffix  \
0       21173   NaN      Chad          C      Yuan    NaN
1       13249   NaN      Ryan        NaN     Perry    NaN
2       29350   NaN     Julia        NaN  Thompson    NaN
3       13503   NaN  Theodore        NaN     Gomez    NaN
4       22803   NaN  Marshall          J      Shan    NaN

             AddressLine1 AddressLine2         City    StateProvinceName  ...  \
0      7090 C. Mount Hood          NaN   Wollongong      New South Wales  ...
1     3651 Willow Lake Rd          NaN      Shawnee     British Columbia  ...
2  1774 Tice Valley Blvd.          NaN  West Covina           California  ...
3         2103 Baldwin Dr          NaN    Liverpool              England  ...
4         Am Gallberg 234          NaN        Werne  Nordrhein-Westfalen  ...

         Education      Occupation Gender MaritalStatus HomeOwnerFlag  \
0        Bachelors        Clerical      M             M             1
1  Partial College        Clerical      M             M             1
2        Bachelors        Clerical      F             S             0
3  Partial College  Skilled Manual      M             M             1
4  Partial College  Skilled Manual      M             S             1

  NumberCarsOwned NumberChildrenAtHome TotalChildren  YearlyIncome  \
0               3                    0             1         81916
1               2                    1             2         81076
2               3                    0             0         86387
3               2                    1             2         61481
4               1                    0             0         51804

   LastUpdated
0   2017-03-06
1   2017-03-06
2   2017-03-06
3   2017-03-06
4   2017-03-06

[5 rows x 24 columns]

In [ ]:
print(df.info())
print(df.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18361 entries, 0 to 18360
Data columns (total 24 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   CustomerID            18361 non-null  int64
 1   Title                 101 non-null    object
 2   FirstName             18361 non-null  object
 3   MiddleName            10572 non-null  object
 4   LastName              18361 non-null  object
 5   Suffix                3 non-null      object
 6   AddressLine1          18361 non-null  object
 7   AddressLine2          311 non-null    object
 8   City                  18361 non-null  object
 9   StateProvinceName     18361 non-null  object
 10  CountryRegionName     18361 non-null  object
 11  PostalCode            18361 non-null  object
 12  PhoneNumber           18361 non-null  object
 13  BirthDate             18361 non-null  object
 14  Education             18361 non-null  object
 15  Occupation            18361 non-null  object
 16  Gender                18361 non-null  object
 17  MaritalStatus         18361 non-null  object
 18  HomeOwnerFlag         18361 non-null  int64
 19  NumberCarsOwned       18361 non-null  int64
 20  NumberChildrenAtHome  18361 non-null  int64
 21  TotalChildren         18361 non-null  int64
 22  YearlyIncome          18361 non-null  int64
 23  LastUpdated           18361 non-null  object
dtypes: int64(6), object(18)
memory usage: 3.4+ MB
None
         CustomerID  HomeOwnerFlag  NumberCarsOwned  NumberChildrenAtHome  \
count  18361.000000   18361.000000     18361.000000          18361.000000
mean   20241.987092       0.610588         1.270301              0.338162
std     5336.332731       0.487630         0.913989              0.568957
min    11000.000000       0.000000         0.000000              0.000000
25%    15621.000000       0.000000         1.000000              0.000000
50%    20248.000000       1.000000         1.000000              0.000000
75%    24863.000000       1.000000         2.000000              1.000000
max    29483.000000       1.000000         5.000000              3.000000

       TotalChildren   YearlyIncome
count   18361.000000   18361.000000
mean        0.850389   72754.779642
std         0.927315   30686.014313
min         0.000000   25435.000000
25%         0.000000   53312.000000
50%         0.000000   61851.000000
75%         2.000000   87410.000000
max         3.000000  139115.000000

In [ ]:
#df['column_name'].fillna(df['column_name'].mean(), inplace=True)

In [ ]:
df.dropna(inplace=True)

In [ ]:
print(df.describe())

       CustomerID  HomeOwnerFlag  NumberCarsOwned  NumberChildrenAtHome  \
count         0.0            0.0              0.0                   0.0
mean          NaN            NaN              NaN                   NaN
std           NaN            NaN              NaN                   NaN
min           NaN            NaN              NaN                   NaN
25%           NaN            NaN              NaN                   NaN
50%           NaN            NaN              NaN                   NaN
75%           NaN            NaN              NaN                   NaN
max           NaN            NaN              NaN                   NaN

       TotalChildren  YearlyIncome
count            0.0           0.0
mean             NaN           NaN
std              NaN           NaN
min              NaN           NaN
25%              NaN           NaN
50%              NaN           NaN
75%              NaN           NaN
max              NaN           NaN

In [ ]:
print("Null values in each column:\n", df.isnull().sum())

Null values in each column:
 CustomerID              0
Title                   0
FirstName               0
MiddleName              0
LastName                0
Suffix                  0
AddressLine1            0
AddressLine2            0
City                    0
StateProvinceName       0
CountryRegionName       0
PostalCode              0
PhoneNumber             0
BirthDate               0
Education               0
Occupation              0
Gender                  0
MaritalStatus           0
HomeOwnerFlag           0
NumberCarsOwned         0
NumberChildrenAtHome    0
TotalChildren           0
YearlyIncome            0
LastUpdated             0
dtype: int64

In [ ]:
# Check for null values in each column
print(df.isnull().mean())

# Replace null values in each column with the column's mean
df.fillna(df.mean(), inplace=True)

CustomerID             NaN
Title                  NaN
FirstName              NaN
MiddleName             NaN
LastName               NaN
Suffix                 NaN
AddressLine1           NaN
AddressLine2           NaN
City                   NaN
StateProvinceName      NaN
CountryRegionName      NaN
PostalCode             NaN
PhoneNumber            NaN
BirthDate              NaN
Education              NaN
Occupation             NaN
Gender                 NaN
MaritalStatus          NaN
HomeOwnerFlag          NaN
NumberCarsOwned        NaN
NumberChildrenAtHome   NaN
TotalChildren          NaN
YearlyIncome           NaN
LastUpdated            NaN
dtype: float64

In [ ]:
selected_columns = [
    'BirthDate', 'Education', 'Occupation', 'Gender', 'MaritalStatus',
    'HomeOwnerFlag', 'NumberCarsOwned', 'NumberChildrenAtHome',
    'TotalChildren', 'YearlyIncome'
]

In [ ]:
df_selected = df[selected_columns]

In [ ]:
print(df_selected.head())

Empty DataFrame
Columns: [BirthDate, Education, Occupation, Gender, MaritalStatus, HomeOwnerFlag, NumberCarsOwned, NumberChildrenAtHome, TotalChildren, YearlyIncome]
Index: []

In [ ]:
print(df_selected.head())

Empty DataFrame
Columns: [BirthDate, Education, Occupation, Gender, MaritalStatus, HomeOwnerFlag, NumberCarsOwned, NumberChildrenAtHome, TotalChildren, YearlyIncome]
Index: []